<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="serviceTypeRegister" type="WcfJsonFormatter.Configuration.ServiceTypeRegister, WcfJsonFormatter" />
    </configSections>

    <serviceTypeRegister>
      <serializer onlyPublicConstructor="true" enablePolymorphicMembers="true" />
      <serviceTypes>
          <serviceType name="*" assembly="PersistentLayer.Domain" />
      </serviceTypes>
      <resolverTypes>
          <resolverType>
              <serviceType name="System.Collections.Generic.IEnumerable`1" assembly="mscorlib" />
              <binderType name="System.Collections.Generic.List`1" assembly="mscorlib" />
          </resolverType>
     </resolverTypes>
    </serviceTypeRegister>
</configuration>