<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityModel" version="1.5.4.16" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="WcfJsonFormatter" version="1.1.1.10" targetFramework="net40" />
  <package id="WcfJsonNetFormatter" version="1.0.0.0" targetFramework="net40" />
</packages>