<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="serviceTypeRegister" type="WcfJsonFormatter.Configuration.ServiceTypeRegister, WcfJsonFormatter" />
    </configSections>
    <appSettings/>
    <serviceTypeRegister checkOperationTypes="false">
        <!--<serializer onlyPublicConstructor="false" enablePolymorphicMembers="true" />-->
        <serializer enablePolymorphicMembers="false" />
        <serviceTypes>
            <serviceType name="*" assembly="PersistentLayer.Domain" />
            <serviceType name="WcfJsonService.Example.Model.SalesmanDev" assembly="WcfJsonService.PrgExample" />
            <!--<serviceType name="*" assembly="Iesi.Collections" />-->
        </serviceTypes>
        <resolverTypes>
            <resolverType>
                <serviceType name="System.Collections.Generic.IEnumerable`1" assembly="mscorlib" />
                <binderType name="System.Collections.Generic.List`1" assembly="mscorlib" />
            </resolverType>
            <resolverType>
                <serviceType name="System.Collections.Generic.ICollection`1" assembly="mscorlib" />
                <binderType name="System.Collections.ObjectModel.Collection`1" assembly="mscorlib" />
            </resolverType>
        </resolverTypes>
    </serviceTypeRegister>

    <connectionStrings>
        <add name="DatabaseConnection"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename={0}SalesArea.mdf;Integrated Security=True;User Instance=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" />
    </system.web>
    <!-- When deploying the service library project, the content of the config file must be added to the host's 
        app.config file. System.Configuration does not support config files for libraries. -->
    

    <system.webServer>

        <modules runAllManagedModulesForAllRequests="true"/>

        <directoryBrowse enabled="true"/>
    </system.webServer>
    
</configuration>
