<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="Autofac.Wcf" version="3.0.0" targetFramework="net40" />
  <package id="EntityModel" version="1.5.4.16" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" requireReinstallation="True" />
  <package id="WcfConfigExtensions" version="1.1.1.10" targetFramework="net40" />
  <package id="WcfJsonFormatter" version="2.2.4.10" targetFramework="net40" />
</packages>