<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="serviceTypeRegister" type="WcfJsonFormatter.Configuration.ServiceTypeRegister, WcfJsonFormatter" />
    </configSections>
    <appSettings/>
    <serviceTypeRegister checkOperationTypes="false">
        <!--<serializer onlyPublicConstructor="false" enablePolymorphicMembers="true" />-->
        <serializer enablePolymorphicMembers="true" />
        <serviceTypes>
            <serviceType name="*" assembly="PersistentLayer.Domain" />
            <!--<serviceType name="*" assembly="Iesi.Collections" />-->
        </serviceTypes>
        <resolverTypes>
            <resolverType>
                <serviceType name="System.Collections.Generic.IEnumerable`1" assembly="mscorlib" />
                <binderType name="System.Collections.Generic.List`1" assembly="mscorlib" />
            </resolverType>
            <resolverType>
                <serviceType name="System.Collections.Generic.ICollection`1" assembly="mscorlib" />
                <binderType name="System.Collections.ObjectModel.Collection`1" assembly="mscorlib" />
            </resolverType>
        </resolverTypes>
    </serviceTypeRegister>

    <connectionStrings>
        <add name="DatabaseConnection"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename={0}SalesArea.mdf;Integrated Security=True;User Instance=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" />
    </system.web>
    <!-- When deploying the service library project, the content of the config file must be added to the host's 
        app.config file. System.Configuration does not support config files for libraries. -->
    <system.serviceModel>

        <extensions>
            <behaviorExtensions>
                <add name="newtonsoftJsonBehavior" type="WcfExtensions.Configuration.DefaultBehaviorExtensionElement`1[[WcfJsonFormatter.Ns.WebHttpJsonNetBehavior, WcfJsonNetFormatter]], WcfExtensions" />
                <!--<add name="nhSessionBinder" type="WcfExtensions.Configuration.ActionServiceBehaviorElement`1[[WcfExtensions.ActionServiceBehavior, WcfExtensions]], WcfExtensions" />-->
            </behaviorExtensions>
        </extensions>

        <behaviors>
            <endpointBehaviors>
                <behavior name="jsonRestEndpointBehavior">
                    <webHttp/>
                    <enableWebScript />
                    <newtonsoftJsonBehavior/>
                </behavior>
                
            </endpointBehaviors>

            <serviceBehaviors>
                <behavior name="jsonRestServiceBehavior">
                    <serviceMetadata httpGetEnabled="True"/>
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <!--<nhSessionBinder    incomingAction="BindSession"
                                        outgoingAction="UnbindSession"
                                        providerType="WcfJsonService.Example.WcfServiceHolder, WcfJsonService.Example"
                                        />-->
                </behavior>
            </serviceBehaviors>

        </behaviors>
        <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
        
        <bindings>
            <webHttpBinding>
                <binding name="newtonsoftJsonBinding" contentTypeMapper="WcfJsonFormatter.RawContentMapper, WcfJsonFormatter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </webHttpBinding>
        </bindings>

        <services>

            <service name="WcfJsonService.Example.SalesService" behaviorConfiguration="jsonRestServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://MYHOME:8000/Service.svc"/>
                    </baseAddresses>
                </host>

                <endpoint address=""
                          binding="basicHttpBinding"
                          contract="WcfJsonService.Example.ISalesService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>

                <endpoint address="json"
                          behaviorConfiguration="jsonRestEndpointBehavior"
                          binding="webHttpBinding"
                          bindingConfiguration="newtonsoftJsonBinding"
                          contract="WcfJsonService.Example.ISalesService"
                    >
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>

            </service>
            
        </services>

    </system.serviceModel>

    <system.webServer>

        <modules runAllManagedModulesForAllRequests="true"/>

        <directoryBrowse enabled="true"/>
    </system.webServer>
    
</configuration>
